
@{
    ViewData["Title"] = "Index";
}

<h2>Employee Management</h2>

<div>
	<ul>
		<li><a asp-area="" asp-controller="Employees" asp-action="List">Employee List</a></li>
		<li><a asp-area="" asp-controller="Employees" asp-action="Hire">Hire new employee</a></li>
	</ul>
</div>

